.Task-container {
    display: flex;
    align-items: center;

    margin-bottom: var(--l);

}

.Task-container:last-child {
    margin-bottom: 0;
}

.Task-checkbox {
    margin-right: var(--m);

    height: var(--l);
    width: var(--l);

    border: 2px solid var(--darkgrey);
}

input {
    width: 955px;
    height: var(--l);

    font-family: "Roboto", sans-serif;
    font-size: var(--m);
    
    border: white;
    border-bottom: 1px solid var(--darkgrey);
}

input:focus {
    outline: none;
}